*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.div{
  height: 300px;
  background-color: white;
  margin: auto;
  width: 300px;
  padding-top: 7%;
  border-radius: 20px;
}

@media screen and (max-width:600px)
{
  .div{
    width: 100%;
  }
}

@media screen and (max-width:800px)
{
  .div{
    width: 60%;
  }
}

.mainDiv{
  width: 100%;
  padding: 10%;
  height: 100vh;
  background-color: lightgray;
}

.buttn{
  border-radius: 5px ;
  color: white;
  font-size: larger;
  font-weight: 900;
  border: 2px solid black;
}